.frontpage {
    min-height: 100vh;
    background: linear-gradient(135deg, #2ec4c7, #3b5bdb);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    font-family: "Segoe UI", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
}

.logo-box {
    background: rgba(255, 255, 255, 0.25);
    padding: 12px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    filter: brightness(0) invert(1);
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.title-box h1 {
color: #fff;
margin: 0;
font-size: 28px;
}


.title-box p {
color: #e0f7fa;
margin: 0;
font-size: 14px;
}

.role-card {
background: #ffffff;
border-radius: 20px;
padding: 40px 30px;
width: 90%;
max-width: 600px;
box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

.role-card h2 {
text-align: center;
margin-bottom: 30px;
font-size: 22px;
}

.role-card a{
    color: black;
    text-decoration: none;
}

.role-option {
border: 2px solid #c7f0e6;
border-radius: 16px;
padding: 20px;
display: flex;
align-items: center;
gap: 20px;
margin-bottom: 20px;
cursor: pointer;
transition: all 0.3s ease;
}


.role-option:hover {
transform: translateY(-4px);
box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}


.icon-circle {
width: 60px;
height: 60px;
border-radius: 14px;
display: flex;
align-items: center;
justify-content: center;
}


.patient .icon-circle {
background: #20c997;
}


.doctor .icon-circle {
background: #2ecc71;
}


.role-text h3 {
margin: 0;
font-size: 18px;
}


.role-text span {
font-size: 14px;
color: #666;
}

@media (max-width: 370px){
    .frontpage{
        padding: 20px;
    }
}